@let team1Value = team1();
@let team2Value = team2();

<div class="shot-location-selector">
  <div class="section-header">
    <span class="section-title">Shot Location</span>
  </div>
  <mat-divider class="section-divider"></mat-divider>

  <div class="location-grid">
    <div class="location-column">
      <app-location-selector
        [showTitle]="false"
        [showDivider]="false"
        [showTeams]="true"
        [team1]="team1Value"
        [team2]="team2Value"
        [initialLocation]="initialRinkLocation"
        (locationChange)="onRinkLocationChange($event)"
      ></app-location-selector>
    </div>

    <div class="location-column">
      <app-location-selector
        [showTitle]="false"
        [showDivider]="false"
        [showTeams]="false"
        [imageUrl]="'/assets/images/net.svg'"
        [showClearButton]="true"
        [initialLocation]="initialNetLocation"
        (locationChange)="onNetLocationChange($event)"
      ></app-location-selector>
    </div>
  </div>
</div>
