@let materialIconValue = materialIcon();
@let isLoadingValue = isLoading();
@let devValue = dev();
@let materialSymbolClassValue = materialSymbolClass();
@let tooltipValue = tooltip() ?? '';
@let tooltipDelayValue = tooltipDelay();
@let tooltipPosValue = tooltipPos();
@let isDisabledValue = isDisabled();
@let hasContentValue = hasContent();
@let roundedValue = rounded();
@let widthValue = width();
@let isActiveValue = isActive();
@let typeValue = type();

<button
  class="app-button"
  matRipple
  [matRippleColor]="rippleColor"
  [matTooltip]="tooltipValue"
  [matTooltipShowDelay]="tooltipDelayValue"
  [matTooltipPosition]="tooltipPosValue"
  [appDisableToggle]="isLoadingValue || isDisabledValue"
  [class.have-content]="hasContentValue"
  [class.dev]="devValue"
  [class.rounded]="roundedValue"
  [class.fill]="widthValue !== 'auto'"
  [class.active]="isActiveValue"
  [ngStyle]="styles"
  [type]="typeValue"
  (click)="click($event)"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  >
  @if (materialIconValue && !isLoadingValue) {
    @let materialIconClassValue = materialIconClass();
    @let isMatSymbolClassValue = isMatSymbolClass();
    @let counterBgColorValue = counterBgColor();
    @let counterValue = counter();
    @let counterColorValue = counterColor();
    @let hasDotValue = hasDot();
    <div class="icon-box material">
      <span
        class="icon"
        [class]="isMatSymbolClassValue ? materialSymbolClassValue : materialIconClassValue"
        [class.fill]="isMatIconFillCurrent"
        >
        {{ materialIconValue }}
      </span>
      @if (counterValue > 0) {
        <span
          class="counter"
          [style.background]="getColor(counterBgColorValue)"
          [style.color]="getColor(counterColorValue)"
          >
          {{ counterValue }}
        </span>
      }
      @if (hasDotValue) {
        <span
          class="counter-icon"
          [class]="materialSymbolClassValue"
          [style.color]="getColor(counterBgColorValue)"
          >circle</span
          >
        }
      </div>
    }

    @if (isLoadingValue) {
      <div class="icon-box material">
        <span [class]="materialSymbolClassValue" class="icon loading"
          >progress_activity</span
          >
        </div>
      }

      <span class="text">
        <ng-content></ng-content>
      </span>

      @if (devValue) {
        @let colorValue = color();
        @let bgValue = bg();
        <span
          class="dev-text"
          [style.background]="getColor(colorValue)"
          [style.color]="getColor(bgValue)"
          >DEMO</span
          >
        }
      </button>
