@use '../../styles/modal-form';

.goalie-change-form-modal {
  @include modal-form.modal-wrapper;

  .modal-content {
    .goalie-change-form {
      @include modal-form.form-section;

      .form-section {
        @include modal-form.selection-container;

        .team-logo-img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          border-radius: 50%;
        }
      }
    }
  }
}
