@use '../../styles/modal-form';

.shot-form-modal {
  @include modal-form.modal-wrapper;

  .modal-content {
    .shot-form {
      @include modal-form.form-section;

      .form-section {
        .scoring-chance-container {
          .scoring-chance-checkbox {
            ::ng-deep .mdc-checkbox__background {
              border-color: var(--primary) !important;
            }

            ::ng-deep .mdc-checkbox--selected .mdc-checkbox__background {
              background-color: var(--primary) !important;
              border-color: var(--primary) !important;
            }

            ::ng-deep .mdc-label {
              font-size: 14px;
              color: var(--dark);
            }
          }
        }

        @include modal-form.selection-container;

        .team-logo-img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          border-radius: 50%;
        }
      }
    }
  }
}
