@if (icon(); as iconName) {
  @if (iconPosition() === 'before') {
    <span class="material-symbols-rounded link-icon">{{ iconName }}</span>
  }
}
<a
  class="clickable-link"
  [routerLink]="route()"
  [attr.aria-label]="ariaLabel()"
  (click)="onLinkClick()"
>
  <ng-content></ng-content>
</a>
@if (icon(); as iconName) {
  @if (iconPosition() === 'after') {
    <span class="material-symbols-rounded link-icon">{{ iconName }}</span>
  }
}
@if (linkIcon()) {
  <app-button-small
    materialIcon="visibility"
    [bg]="'transparent'"
    [bghover]="'item_hover'"
    [color]="'text_secondary'"
    [colorhover]="'green_dark'"
    [tooltip]="linkIconTooltip()"
    (clicked)="onLinkIconClick()"
  />
}
