@let entriesValue = filteredEntries();
@let loadingValue = loading();
@let activeTabIndexValue = activeTabIndex();

<ng-template appBreadcrumbCenter>
  <app-tabs-slider
    [items]="tabItems"
    [activeTabIndex]="activeTabIndexValue"
    (selected)="onTabChange($event)"
  ></app-tabs-slider>
</ng-template>

<ng-template appBreadcrumbActions>
  <div [appVisibilityMap]="visibilityByRoleMap">
    <app-button-loading
      [isLoading]="isAddLoading()"
      materialIcon="add"
      [bg]="'primary'"
      [bghover]="'primary'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      (clicked)="openAddModal()"
      role-visibility-name="add-player-button"
    >
      Add to Tryout List
    </app-button-loading>
  </div>
</ng-template>

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <app-data-table
    [columns]="tableColumns"
    [data]="entriesValue"
    [actions]="tableActions"
    [loading]="loadingValue"
    loadingMessage="Loading tryout entries..."
    emptyMessage="No tryout entries found"
    (actionClick)="onActionClick($event)"
  ></app-data-table>
</div>
