@let isLoadingValue = isLoading();

<div class="display-template-content">
  @if (template) {
    <div class="template-wrapper">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
  }
</div>

<div class="modal-actions">
  <app-button
    materialIcon="cancel"
    [bg]="'background'"
    [bghover]="'item_hover'"
    [br]="'border'"
    [color]="'text_primary'"
    [colorhover]="'text_primary'"
    [haveContent]="true"
    [isDisabled]="isLoadingValue"
    (clicked)="close()"
  >
    Cancel
  </app-button>

  @if (withButtonLoading) {
    <app-button-loading
      [isLoading]="isLoadingValue"
      [isDisabled]="isLoadingValue"
      [materialIcon]="buttonIcon"
      [bg]="color"
      [bghover]="colorSoft"
      [color]="'text_white'"
      (clicked)="confirm()"
    >
      {{ buttonText }}
    </app-button-loading>
  } @else {
    <app-button
      [materialIcon]="buttonIcon"
      [bg]="color"
      [bghover]="colorSoft"
      [color]="'text_white'"
      (clicked)="confirm()"
    >
      {{ buttonText }}
    </app-button>
  }
</div>
