<div class="analysis-modal">
  <div class="modal-content">
    <div class="analysis-form">
      <div class="form-section">
        <app-section-header title="Analysis Details" />

        <div class="form-row">
          @if (profileRoute()) {
            <app-form-field label="Subject" [readonly]="true" class="full-width">
              <div readonlyContent class="subject-row">
                <a class="subject-link" (click)="goToProfile()">
                  {{ data.entityName }}
                </a>
                <app-button-small
                  materialIcon="visibility"
                  [bg]="'transparent'"
                  [bghover]="'item_hover'"
                  [color]="'text_secondary'"
                  [colorhover]="'green_dark'"
                  tooltip="View Profile"
                  (clicked)="goToProfile()"
                />
              </div>
            </app-form-field>
          } @else {
            <app-form-field
              label="Subject"
              [readonly]="true"
              [readonlyValue]="data.entityName"
              class="full-width"
            />
          }
        </div>

        <div class="form-row">
          <app-form-field
            label="Title"
            [readonly]="true"
            [readonlyValue]="data.title"
            class="full-width"
          />
        </div>

        <div class="form-row">
          <app-form-field
            label="Author"
            [readonly]="true"
            [readonlyValue]="data.author"
            class="full-width"
          />
        </div>

        <div class="form-row">
          <app-form-field label="Analysis" [readonly]="true" class="full-width">
            <p readonlyContent class="analysis-text">{{ data.analysis }}</p>
          </app-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-actions">
    <app-button
      materialIcon="cancel"
      [bg]="'background'"
      [bghover]="'item_hover'"
      [br]="'border'"
      [color]="'text_primary'"
      [colorhover]="'text_primary'"
      [haveContent]="true"
      (clicked)="onClose()"
    >
      Close
    </app-button>
  </div>
</div>
