@let analyticsValue = analytics();
@let loadingValue = loading();
@let showTabsValue = showTabs();
@let activeTabIndexValue = activeTabIndex();
@let buttonConfigValue = buttonConfig();
@let tableColumnsValue = tableColumns();
@let tableActionsValue = tableActions();

@if (showTabsValue) {
  <ng-template appBreadcrumbCenter>
    <app-tabs-slider
      [items]="tabItems"
      [activeTabIndex]="activeTabIndexValue"
      (selected)="onTabChange($event)"
    ></app-tabs-slider>
  </ng-template>
}

<ng-template appBreadcrumbActions>
  <div [appVisibilityMap]="visibilityByRoleMap" style="display: contents">
    <app-button-loading
      [materialIcon]="buttonConfigValue.buttonIcon"
      [bg]="'primary'"
      [bghover]="'primary'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      [isLoading]="isCreateLoading()"
      (clicked)="onCreateAnalysis()"
      role-visibility-name="create-analysis-button"
    >
      {{ buttonConfigValue.buttonLabel }}
    </app-button-loading>
  </div>
</ng-template>

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <app-data-table
    [columns]="tableColumnsValue"
    [data]="analyticsValue"
    [actions]="tableActionsValue"
    [loading]="loadingValue"
    loadingMessage="Loading analytics..."
    emptyMessage="No analytics found"
    (actionClick)="onTableAction($event)"
  ></app-data-table>
</div>
