@let rowsValue = rows();
@let loadingValue = loading();

<ng-template appBreadcrumbActions>
  <div [appVisibilityMap]="visibilityByRoleMap" style="display: contents">
    <app-button-loading
      [bg]="'primary'"
      [bghover]="'primary_dark'"
      [color]="'white'"
      [colorhover]="'white'"
      [materialIcon]="'add'"
      [haveContent]="true"
      [isLoading]="isAddLoading()"
      (clicked)="openCreateHighlightModal()"
      role-visibility-name="create-highlight-button"
    >
      Create New Highlight Reel
    </app-button-loading>
  </div>
</ng-template>

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <app-data-table
    [columns]="tableColumns"
    [data]="rowsValue"
    [actions]="tableActions"
    [loading]="loadingValue"
    loadingMessage="Loading highlight reels..."
    (actionClick)="onActionClick($event)"
    (sort)="onSort($event)"
    emptyMessage="No highlight reels found."
  ></app-data-table>
</div>
