<div class="location-selector">
  <div *ngIf="showTitle" class="section-header">
    <span class="section-title">Set Location</span>
  </div>
  <mat-divider *ngIf="showDivider" class="section-divider"></mat-divider>

  <div class="rink-container">
    <button type="button" class="rink-wrapper" (click)="onRinkClick($event)">
      <img src="/assets/images/hockey-rink.svg" alt="Hockey Rink" class="hockey-rink-image" />
      <div
        *ngIf="puckLocation"
        class="puck-marker"
        [style.left.%]="puckLocation.x"
        [style.top.%]="puckLocation.y"
      ></div>
    </button>
    <div *ngIf="puckLocation" class="selected-zone">
      Selected zone: <strong>{{ puckLocation.zone | titlecase }}</strong>
    </div>
  </div>
</div>
