.logout-confirmation {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .message {
    font-size: 16px;
    text-align: center;
    color: var(--text_primary);
  }

  .actions {
    display: flex;
    gap: 12px;
  }
}
