<a matRipple [matRippleColor]="rippleColor" [matTooltip]="tooltip ?? ''" [matTooltipShowDelay]="tooltipDelay" [matTooltipPosition]="tooltipPos"
  class="app-button" [class.have-content]="haveContent" [class.dev]="dev" [class.rounded]="rounded" [class.fill]="width !== 'auto'"
  [class.active]="isActive" [ngStyle]="styles" [href]="resolvedLink" (mousedown)="onMouseDown()" (mouseup)="onMouseUp()" (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()" (click)="openUrl($event)">
  <div class="icon-box material" *ngIf="materialIcon">
    <span class="icon" [class]="isMatSymbolClass ? materialSymbolClass : materialIconClass" [class.fill]="isMatIconFillCurrent">
      {{ materialIcon }}
    </span>
    <span class="counter" *ngIf="counter > 0" [style.background]="getColor(counterBgColor)" [style.color]="getColor(counterColor)">
      {{ counter }}
    </span>
    <span class="counter-icon" *ngIf="hasDot" [class]="materialSymbolClass" [style.color]="getColor(counterBgColor)">circle</span>
  </div>

  <span class="text">
    <ng-content></ng-content>
  </span>

  <span class="dev-text" [style.background]="getColor(color)" [style.color]="getColor(bg)" *ngIf="dev">DEMO</span>
</a>