<div class="video-form-modal">
  <div class="modal-content">
    <form [formGroup]="videoForm" class="video-form">
      <div class="form-section">
        <app-section-header title="Video Information" />
        <div class="form-row">
          <app-form-field label="Video Name" [required]="true" [error]="getErrorMessage('name')">
            <input formControlName="name" placeholder="Enter video name" />
          </app-form-field>
        </div>
        <div class="form-row">
          <app-form-field
            label="YouTube Link"
            [required]="true"
            [error]="getErrorMessage('youtube_link')"
          >
            <input formControlName="youtube_link" placeholder="Enter YouTube link" />
          </app-form-field>
        </div>
        <div class="form-row">
          <app-form-field
            label="Description"
            [required]="true"
            [error]="getErrorMessage('description')"
          >
            <textarea
              formControlName="description"
              placeholder="Enter video description"
              rows="4"
            ></textarea>
          </app-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-actions">
    <app-button
      [bg]="'background'"
      [bghover]="'item_hover'"
      [br]="'border'"
      [color]="'text_primary'"
      [colorhover]="'text_primary'"
      [haveContent]="true"
      materialIcon="cancel"
      (clicked)="onCancel()"
    >
      Cancel
    </app-button>
    <app-button-loading
      [isLoading]="isSubmitting()"
      [isDisabled]="videoForm.invalid"
      materialIcon="save"
      [bg]="isEditMode ? 'orange' : 'green'"
      [bghover]="isEditMode ? 'orange' : 'green'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      (clicked)="onSubmit()"
    >
      {{ isEditMode ? 'Update Video' : 'Add Video' }}
    </app-button-loading>
  </div>
</div>
