<div class="custom-highlight-modal">
  <h2 mat-dialog-title class="modal-title">
    <span class="material-symbols-rounded title-icon">add_circle</span>
    Add Custom Highlight
  </h2>

  <mat-dialog-content class="modal-content">
    <form [formGroup]="form" class="custom-highlight-form">
      <div class="form-section">
        <div class="form-row">
          <mat-form-field
            [floatLabel]="'always'"
            [hideRequiredMarker]="true"
            class="form-field full-width"
          >
            <mat-label class="uppercase text-custom-secondary">Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter name" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field
            [floatLabel]="'always'"
            [hideRequiredMarker]="true"
            class="form-field full-width"
          >
            <mat-label class="uppercase text-custom-secondary">Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="3"
              placeholder="Enter description"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Date</mat-label>
            <input matInput type="date" formControlName="date" />
            <mat-error *ngIf="form.get('date')?.errors && form.get('date')?.touched">
              Date is required
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Time</mat-label>
            <input matInput formControlName="time" placeholder="HH:mm or HH:mm:ss" maxlength="8" />
            <mat-error *ngIf="form.get('time')?.errors && form.get('time')?.touched">
              {{ getErrorMessage('time') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field
            [floatLabel]="'always'"
            [hideRequiredMarker]="true"
            class="form-field full-width"
          >
            <mat-label class="uppercase text-custom-secondary">Video Link</mat-label>
            <input matInput formControlName="youtube_link" placeholder="Enter YouTube link" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-actions">
    <app-button
      [bg]="'transparent'"
      [bghover]="'button_background'"
      [br]="'border'"
      [color]="'text_primary'"
      [colorhover]="'text_primary'"
      [opacity]="1"
      [opacityhover]="1"
      [width]="'auto'"
      [rounded]="false"
      [haveContent]="true"
      (clicked)="onCancel()"
    >
      Cancel
    </app-button>
    <app-button-loading
      [isLoading]="false"
      [isDisabled]="form.invalid"
      materialIcon="save"
      [bg]="'primary'"
      [bghover]="'primary_dark'"
      [color]="'white'"
      [colorhover]="'white'"
      [opacity]="1"
      [opacityhover]="1"
      [width]="'auto'"
      [rounded]="false"
      [haveContent]="true"
      (clicked)="onSave()"
    >
      Save
    </app-button-loading>
  </mat-dialog-actions>
</div>
