<div class="custom-highlight-modal">
  <div class="modal-content">
    <form [formGroup]="form" class="custom-highlight-form">
      <div class="form-section">
        <div class="form-row">
          <app-form-field label="Name" [required]="true" [error]="getErrorMessage('name')">
            <input formControlName="name" placeholder="Enter name" />
          </app-form-field>
        </div>
        <div class="form-row">
          <app-form-field label="Description">
            <textarea
              formControlName="description"
              rows="3"
              placeholder="Enter description"
            ></textarea>
          </app-form-field>
        </div>
        <div class="form-row date-time-row">
          <app-form-field label="Date" [required]="true" [error]="getErrorMessage('date')">
            <input type="date" formControlName="date" />
          </app-form-field>
          <app-form-field label="Time" [required]="true" [error]="getErrorMessage('time')">
            <input formControlName="time" placeholder="HH:mm or HH:mm:ss" maxlength="8" />
          </app-form-field>
        </div>
        <div class="form-row">
          <app-form-field label="Video Link" [error]="getErrorMessage('youtube_link')">
            <input formControlName="youtube_link" placeholder="Enter YouTube link" />
          </app-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-actions">
    <app-button
      [bg]="'background'"
      [bghover]="'item_hover'"
      [br]="'border'"
      [color]="'text_primary'"
      [colorhover]="'text_primary'"
      [haveContent]="true"
      materialIcon="cancel"
      (clicked)="onCancel()"
    >
      Cancel
    </app-button>
    <app-button-loading
      [isLoading]="false"
      materialIcon="save"
      [bg]="'green'"
      [bghover]="'green'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      (clicked)="onSave()"
    >
      Save
    </app-button-loading>
  </div>
</div>
