@let analyticsValue = analytics();
@let loadingValue = loading();

<ng-template appBreadcrumbActions>
  <div [appVisibilityMap]="visibilityByRoleMap" style="display: contents">
    <app-button-loading
      materialIcon="add"
      [bg]="'primary'"
      [bghover]="'primary'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      [isLoading]="isCreateLoading()"
      (clicked)="onCreateAnalysis()"
      role-visibility-name="create-analysis-button"
    >
      Create Game Analysis
    </app-button-loading>
  </div>
</ng-template>

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <app-data-table
    [columns]="tableColumns"
    [data]="analyticsValue"
    [actions]="tableActions"
    [loading]="loadingValue"
    loadingMessage="Loading game analytics..."
    emptyMessage="No analytics found for this game"
    (actionClick)="onTableAction($event)"
  ></app-data-table>
</div>
