@let analysesValue = analyses();
@let loadingValue = loading();

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <div class="action-buttons-row" role-visibility-name="create-analysis-button">
    <app-button
      materialIcon="add"
      [bg]="'primary'"
      [bghover]="'primary'"
      [color]="'white'"
      [colorhover]="'white'"
      [haveContent]="true"
      (clicked)="onCreateAnalysis()"
    >
      Create Game Analysis
    </app-button>
  </div>

  <app-data-table
    [columns]="tableColumns"
    [data]="analysesValue"
    [actions]="tableActions"
    [loading]="loadingValue"
    emptyMessage="No analyses found for this game"
    (actionClick)="onTableAction($event)"
  ></app-data-table>
</div>
