<!-- Reset Password Page -->
<app-auth-layout titleText="RESET PASSWORD">
  <!-- Error Message -->
  @if (errorMessage) {
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 text-center">
      {{ errorMessage }}
    </div>
  }

  <!-- Reset Password Form -->
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="space-y-2">
      <!-- Password -->
      <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="w-full">
        <mat-label class="uppercase text-custom-secondary">New Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="new-password"
          formControlName="password"
          placeholder="Enter your new password"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
          <mat-error>
            @if (password?.errors?.['required']) {
              Password is required
            }
            @if (password?.errors?.['minlength']) {
              Password must be at least 8 characters long
            }
          </mat-error>
        }
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="w-full pb-3">
        <mat-label class="uppercase text-custom-secondary">Confirm Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="new-password"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
        />
        @if (confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) {
          <mat-error>
            @if (confirmPassword?.errors?.['required']) {
              Please confirm your password
            }
          </mat-error>
        }
        @if (hasPasswordMismatch) {
          <mat-error> Passwords do not match </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex justify-center flex-col text-center mt-4">
      <!-- Reset Password Button -->
      <app-auth-button
        [text]="isLoading ? 'RESETTING...' : 'RESET PASSWORD'"
        type="submit"
        [disabled]="resetPasswordForm.invalid || isLoading"
      ></app-auth-button>
    </div>
  </form>
</app-auth-layout>
