@let videosValue = videos();
@let loadingValue = loading();

<ng-template appBreadcrumbActions>
  <div [appVisibilityMap]="visibilityByRoleMap" style="display: contents">
    <app-button-loading
      [bg]="'primary'"
      [bghover]="'primary_dark'"
      [color]="'white'"
      [colorhover]="'white'"
      [materialIcon]="'add'"
      [haveContent]="true"
      (clicked)="openAddVideoModal()"
      role-visibility-name="add-video-button"
    >
      Add a Video
    </app-button-loading>
  </div>
</ng-template>

<div class="page-content" [appVisibilityMap]="visibilityByRoleMap">
  <app-data-table
    [columns]="tableColumns"
    [data]="videosValue"
    [actions]="tableActions"
    [loading]="loadingValue"
    loadingMessage="Loading videos..."
    (actionClick)="onActionClick($event)"
    (sort)="onSort($event)"
    emptyMessage="No videos found."
  ></app-data-table>
</div>
