button {
  &[disabled] {
    opacity: 1 !important;
    cursor: not-allowed;
    background-color: var(--color-secondary) !important;
    color: white !important;

    &.mat-mdc-outlined-button {
      border-color: var(--color-secondary) !important;
    }
  }

  &.loading-button {
    pointer-events: none;
    opacity: 0.8;
  }
}
