<div class="player-form-modal">
  <h2 mat-dialog-title class="modal-title">
    <mat-icon class="title-icon">sports_hockey</mat-icon>
    {{ isEditMode ? 'Edit Player' : 'Add New Player' }}
  </h2>

  <mat-dialog-content class="modal-content">
    <form [formGroup]="playerForm" class="player-form">
      
      <!-- Personal Information Section -->
      <div class="form-section">
        <div class="section-header">
          <span class="section-title">Personal Information</span>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">First Name *</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter first name">
            <mat-error *ngIf="playerForm.get('firstName')?.errors && playerForm.get('firstName')?.touched">
              {{ getErrorMessage('firstName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Last Name *</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter last name">
            <mat-error *ngIf="playerForm.get('lastName')?.errors && playerForm.get('lastName')?.touched">
              {{ getErrorMessage('lastName') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Birth Year</mat-label>
            <input matInput type="number" formControlName="birthYear" placeholder="Enter birth year">
            <mat-error *ngIf="playerForm.get('birthYear')?.errors && playerForm.get('birthYear')?.touched">
              {{ getErrorMessage('birthYear') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Jersey Number</mat-label>
            <input matInput type="number" formControlName="jerseyNumber" placeholder="Enter jersey number">
            <mat-error *ngIf="playerForm.get('jerseyNumber')?.errors && playerForm.get('jerseyNumber')?.touched">
              {{ getErrorMessage('jerseyNumber') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Physical Information Section -->
      <div class="form-section">
        <div class="section-header">
          <span class="section-title">Physical Information</span>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Height</mat-label>
            <input matInput formControlName="height" placeholder="e.g., 6'2&quot;">
            <mat-error *ngIf="playerForm.get('height')?.errors && playerForm.get('height')?.touched">
              {{ getErrorMessage('height') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Weight (lbs)</mat-label>
            <input matInput type="number" formControlName="weight" placeholder="Enter weight">
            <mat-error *ngIf="playerForm.get('weight')?.errors && playerForm.get('weight')?.touched">
              {{ getErrorMessage('weight') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Shoots</mat-label>
            <mat-select formControlName="shoots">
              <mat-option *ngFor="let option of shootsOptions" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="playerForm.get('shoots')?.errors && playerForm.get('shoots')?.touched">
              {{ getErrorMessage('shoots') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Team & Position Information Section -->
      <div class="form-section">
        <div class="section-header">
          <span class="section-title">Team & Position Information</span>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Team</mat-label>
            <mat-select formControlName="team">
              <mat-option *ngFor="let team of teamOptions" [value]="team.value">
                {{ team.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="playerForm.get('team')?.errors && playerForm.get('team')?.touched">
              {{ getErrorMessage('team') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Position</mat-label>
            <mat-select formControlName="position">
              <mat-option *ngFor="let position of positionOptions" [value]="position.value">
                {{ position.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="playerForm.get('position')?.errors && playerForm.get('position')?.touched">
              {{ getErrorMessage('position') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Statistics Section -->
      <div class="form-section">
        <div class="section-header">
          <span class="section-title">Game Statistics</span>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Games Played</mat-label>
            <input matInput type="number" formControlName="gamesPlayed" placeholder="Enter games played">
            <mat-error *ngIf="playerForm.get('gamesPlayed')?.errors && playerForm.get('gamesPlayed')?.touched">
              {{ getErrorMessage('gamesPlayed') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Shots on Goal</mat-label>
            <input matInput type="number" formControlName="shotsOnGoal" placeholder="Enter shots on goal">
            <mat-error *ngIf="playerForm.get('shotsOnGoal')?.errors && playerForm.get('shotsOnGoal')?.touched">
              {{ getErrorMessage('shotsOnGoal') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Goals</mat-label>
            <input matInput type="number" formControlName="goals" placeholder="Enter goals">
            <mat-error *ngIf="playerForm.get('goals')?.errors && playerForm.get('goals')?.touched">
              {{ getErrorMessage('goals') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Assists</mat-label>
            <input matInput type="number" formControlName="assists" placeholder="Enter assists">
            <mat-error *ngIf="playerForm.get('assists')?.errors && playerForm.get('assists')?.touched">
              {{ getErrorMessage('assists') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Scoring Chances</mat-label>
            <input matInput type="number" formControlName="scoringChances" placeholder="Enter scoring chances">
            <mat-error *ngIf="playerForm.get('scoringChances')?.errors && playerForm.get('scoringChances')?.touched">
              {{ getErrorMessage('scoringChances') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Blocked Shots</mat-label>
            <input matInput type="number" formControlName="blockedShots" placeholder="Enter blocked shots">
            <mat-error *ngIf="playerForm.get('blockedShots')?.errors && playerForm.get('blockedShots')?.touched">
              {{ getErrorMessage('blockedShots') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field [floatLabel]="'always'" [hideRequiredMarker]="true" class="form-field">
            <mat-label class="uppercase text-custom-secondary">Penalties Drawn</mat-label>
            <input matInput type="number" formControlName="penaltiesDrawn" placeholder="Enter penalties drawn">
            <mat-error *ngIf="playerForm.get('penaltiesDrawn')?.errors && playerForm.get('penaltiesDrawn')?.touched">
              {{ getErrorMessage('penaltiesDrawn') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-actions">
    <button mat-stroked-button (click)="onCancel()" class="cancel-btn">
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()" class="submit-btn">
      <mat-icon>save</mat-icon>
      {{ isEditMode ? 'Update Player' : 'Add Player' }}
    </button>
  </mat-dialog-actions>
</div>
