@let url = gamesheetUrl();

<ng-template appBreadcrumbActions>
  <app-button
    materialIcon="edit"
    [bg]="'primary'"
    [bghover]="'primary'"
    [color]="'white'"
    [colorhover]="'white'"
    [haveContent]="true"
    (clicked)="openSeasonIdModal()"
  >
    Edit Season ID{{ seasonId() ? ' (' + seasonId() + ')' : '' }}
  </app-button>
</ng-template>

<div class="gamesheet-container">
  @if (url) {
    <iframe
      [src]="url"
      frameborder="0"
      allowFullscreen
      class="gamesheet-iframe"
      title="Gamesheet Standings"
    ></iframe>
  }

  <app-empty-label [isShow]="!url && !isModalOpen()" icon="error" color="primary" bgColor="primary_soft" position="top">
    <span colorized>
      Please enter a
      <app-clickable-text fontWeight="600" (clicked)="openSeasonIdModal()"
        >Season ID</app-clickable-text
      >
      to display Gamesheet data
    </span>
  </app-empty-label>
</div>
