.gamesheet-container {
  width: 100%;
  height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.gamesheet-iframe {
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;
  min-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  animation: slide-up 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1) both;
  animation-delay: 0.5s;

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
